-#%restorando-widget{ restaurant_id: restaurant.id, type: :horizontal, width: 640, height: 160 }
%restorando-widget{ restaurant_id: 1, type: :horizontal, width: 640, height: 160 }

- content_for :local_js do
  = javascript_include_tag "http://widgets.restorando.com/reservation-widget.js"
